.profile {
  background-color: rgb(32, 31, 31);
  padding: 2px;
  overflow: hidden;
}
.name {
  float: left; margin-top: 60px;
}
.image {
  margin-right: 5%;
}
.name h2{
  color: white;
}
.timeline {
  width: 60%;
  margin-left: 10%;
  margin-top: 10px;
}
.navbar {
  background-color: white;
  padding: 10px;
}
.navbar span {
  margin-left: 20%;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 10px;
}
.navbar span:hover {
  background-color: aliceblue;
}

