<h1>Developers</h1>
<div class='aboutusdiv'>
  <div class='row1'>
    <div class='mahesh'>
      <img src='assets/logos/mahesh.png'>
      <p>Mahesh Ippili</p>
    </div>
    <div class='stackoverflow'>
      <img src='assets/logos/stack-overflow.png'>
      <p>StackOverFlow</p>
    </div>
  </div>
  <div class='row2'>
    <div class='youtube'>
      <img src='assets/logos/youtube.jpeg'>
      <p>Youtube</p>
    </div>
    <div class='google'>
      <img src='assets/logos/google.jpg'>
      <p>Google</p>
    </div>
  </div>
</div>
